<!DOCTYPE html>
<html lang="en" class="no-js">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>FAMAE</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/component.css'%}" />
	</head>
	<body id="color3">
		<div id="particles-js"></div>
		<div class="container">
			<header class="clearfix">
				<h1 id="h1-1">Alimentation</h1>
				<a href="../"><img id="arrayback" src="{% static '271218.svg'%}"/></a>
				<nav>
				</nav>
			</header>
			<div>
				<ul>
				  <li><a class="cc" href="" title="home">home</a></li>
				  <li><a href="#test-1" title="link1">1</a></li>
			  </ul>
			  </div>
			<div class="container-img"><img id="testttt" src="{% static 'rice-plantation-1822444_1280.jpg'%}" /></div>
			<img id="testtt" src="{% static 'images/scroll.gif'%}" />
			<div id="cbp-so-scroller" class="cbp-so-scroller">
				<section class="cbp-so-section" id="test-1">
					<article class="cbp-so-side cbp-so-side-left">
						<h2>Consommation d'eau en fonction des aliments</h2>
						<p>On constate que les aliments les plus coûteux en eau sont les produits gras ainsi que la viande.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
							<iframe width="700" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~supig/35.embed"></iframe>
							<a href="../alementaire/"><button>view</button></a>
					</figure>
				</section>
				<a href="../" id="hjjj"><div id="back">Retour</div></a>
			</div>
		</div>
		<script src="{% static 'js/modernizr.custom.js'%}"></script>
		<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{% static 'app.js'%}"></script>
		<script src="{% static 'js/classie.js'%}"></script>
        <script src="{% static 'test.js'%}"></script>
        <script src="{% static 'scroll.js'%}"></script>
		<script src="{% static 'js/cbpScroller.js'%}"></script>
		<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
		</script>
	</body>
</html>
